@import "tailwindcss";

:root {
  --color-primary: #1a5d57;
  --color-secondary: #f5a623;
  --color-background: #ffffff;
  --color-text-primary: #222222;
  --color-text-secondary: #555555;
  --site-max-width: 1200px;
}

html,
body,
#__next {
  height: 100%;
}

body {
  background: var(--color-background);
  color: var(--color-text-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", Arial;
}

.container {
  max-width: var(--site-max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
